// PARTNER

.partner {
  display: flex;
}
  
.partnet-all{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  @media screen and (min-width: 678px){
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1200px){
    display: inline-flex;
    width: 1170px;
    padding-bottom: 94px;
  }
  
}

.partner h2 {
  font-size: 36px;
  line-height: 1.17;
  margin-left: 25px;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  padding-bottom: 0;
  padding-top: 60px;
  @media screen and (min-width: 768px){
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px){
    margin-left: 360px;
    padding-top: 94px;
  }
}
  
.partner-one {
  fill: #AFB1B8;
}

.partner-one {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4%;
  margin-bottom: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px){
    width: 226px;
    display: inline-flex;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px){
    width: 170px;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 0;
  }
  @media screen and (max-width: 479px){
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}
  
.partner-one:hover {
  border-color: #2196F3;
  fill:  #2196F3;
}


@media screen and (max-width: 479px){
  .partner-item {
    margin-left: auto;
    margin-right: auto;
  }
}
