$text-color-black: #212121;
$text-color-grey: #757575;
$text-color-white: #FFFFFF;
$accent-color: #2196F3;
$bt-primary: #F5F4FA;
$bt-second: #2196F3;
$block-color: #F5F4FA;
$color-footer: #2F303A;
$color-svg: #AFB1B8;
